[Unit]
Description=SSH Per-Connection Server
Wants=dropbear-keygen.service

[Service]
ExecStart=-/usr/sbin/dropbear -i
ExecReload=/bin/kill -HUP $MAINPID
StandardInput=socket
